body {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

canvas {
	height: 100vh;
	width: 100vw;
}

#ui {
	font-family: monospace;
	position: fixed;
	right: 10px;
	top: 10px;
}

#theme {
	all: unset;
	border: 1px solid #72727253;
	border-radius: 10px;
	cursor: pointer;
	display: block;
	padding: 4px 8px;
}

#sub {
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: saturate(160%) blur(30px);
	bottom: 0;
	height: 40px;
	left: 0;
	position: absolute;
	width: 100vw;
}

@media (max-width: 500px) {
	#sub {
		height: 120px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000000;
	}
}
